body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
}
/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: -12px;
    margin-right: -12px;
}


/* Test */
.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
    
}
/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* Bien ma mau*/
:root{
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height:120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
}

.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    z-index: 1;
    position: relative;
    animation: growth linear 0.2s;
    margin: auto;
}
/* Button style */
.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
   color: black;
   display:inline-flex ;
   align-items: center;
   justify-content: center;
   background-color: white;
   line-height: 1.4rem;
   
}

.btn.btn--normal:hover{
    background-color: rgba(0,0,0, 0.05);
}

.btn.btn--size-s{
    padding: 0 8px;
    height: 30px;
    font-size: 12px;
}
.btn.btn--primary{
    color: white;
    background-color: var(--primary-color);
}

.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
    filter: brightness(80%);
}
/* Selection */
.select-input{
    min-width: 120px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.select-input__label{
    font-size: .9rem;
    color: #333;
}

.select-input__icon{
    color: #4a4a4a;
    font-size: .9rem;
    margin: 0 8px;
    position: relative;
    top: 1px;
}