body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
}
/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: -5px;
    margin-right: -5px;
}


/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
    
}
/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* Bien ma mau*/
:root{
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height:120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
}

.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    z-index: 1;
    position: relative;
    animation: growth linear 0.2s;
    margin: auto;
}
/* Button style */
.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
   color: black;
   display:inline-flex ;
   align-items: center;
   justify-content: center;
   background-color: white;
   line-height: 1.4rem;
   
}

.btn.btn--normal:hover{
    background-color: rgba(0,0,0, 0.05);
}

.btn.btn--size-s{
    padding: 0 8px;
    height: 30px;
    font-size: 12px;
}
.btn.btn--primary{
    color: white;
    background-color: var(--primary-color);
}

.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
    filter: brightness(80%);
}
/* Selection */
.select-input{
    position: relative;
    min-width:200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 3px #d3d3d3;
}

.select-input__label{
    font-size: .9rem;
    color: #333;
}

.select-input__icon{
    color: #4a4a4a;
    font-size: .9rem;
    
    position: relative;
    top: 1px;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list{
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    border-radius: 2px;
    background-color: white;
    padding: 8px 16px;
    list-style: none;
    display: none;
}

.select-input__link{
    font-size: .9rem;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}

/* Pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item{
    margin: 0 8px;
}

.pagination-item--active .pagination-item__link{
    color: white;
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;
}
.pagination-item__link{
    --height: 30px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: #939393;
    min-width: 40px;
     height:var(--height);
    line-height:var(--height);
   border-radius: 2px;
}

/* Footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading{
    font-size: 1rem;
    text-transform: uppercase;
    color: #333;
}

.footer-list{
    list-style: none;
    padding-left: 0;
}

.footer-item__link{
    text-decoration: none;
    font-size: 0.9rem;
    color: #666;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-item__icon{
    font-size: 1rem;
}