.header{
 
    height: 120px;
    background-image: linear-gradient(0, #f63f2e, #f7462e);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
}

.header__navbar-item{
    display: inline-block;
}